apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: testapp-argo-application
  namespace: argocd
spec:
  project: default

  source:
    path: test
    repoURL: https://github.com/schmhj/argocd-app-config.git
    targetRevision: HEAD

  destination:
    namespace: testapp
    server: https://kubernetes.default.svc
  
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
